<html>

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div class="container">
       <h1>All student details</h1>
        <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="table table-striped custab">
                <thead>
                    <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>
                    <tr>
                        <th>Name</th>
                        <th>StudentId</th>
                        <th>Department</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tr>
                        <% students.forEach(function(s){ %>
                            <tr>
                                <td><%= s.name %></td>
                                <td><%= s.studentID %></td>
                                <td><%= s.department %></td>
                                <td class="text-center">
                                    <form method="post" action="http://127.0.0.1:8000/deleteStudent">
                                            <input type="hidden" name="id" value= <%= s.studentID %> >
                                            <input  class="btn btn-danger btn-xs" type="submit" value="Delete">
                                     </form>
                                </td>
                            </tr>
                        <%  }); %>
    
                   
                </tr>
            </table>
        </div>
    </div>
</body>

</html>